{% extends "base.html" %}

{% block title %}
    Zoznam tvorcov
{% endblock %}

{% block content %}
    <h1>Tvorcovia</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'creator_create' %}" class="btn btn-primary">Pridať</a>
    {% endif %}
    <ul>
        {% for creator in creators %}
            <li>
                <a href="{% url 'creator' creator.id %}">{{ creator }}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'creator_update' creator.id %}">✏️</a>
                    <a href="{% url 'creator_delete' creator.id %}">❌</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}